.edit{
    position: absolute;
    width: 600px;
    height: 700px;
    top: 120px;
    left: 200px;
}
.fl_title{
    position: relative;
    text-align: center;
    left: 200px;
}
.fi_title{
    position: relative;
    text-align: center;
    top: 0;
    left: 238px;
}
.fl_content{
    position: relative;
    top: 54px;
    left: 123px;
}
.fi_content{
    position: relative;
    left: 97px;
    top: 98px;
    width: 500px;
    height: 226px;
    padding: 20px 20px;

}
.submit{
    position: relative;
    top: 20px;
    left: 705px;
    width: 43px;
    height: 112px;
    display: block;
}